.recently-played {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2a292c;
  width: 20vw;
  color: white;
  margin: 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.recently-played:hover {
  background-color: #4d4d4d;
}
.icon {
  height: 4rem;
  width: 4rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  background-color: rgb(19, 91, 113);
}

.recent-container-content {
  padding: 1rem;
}
