.status-bar {
  background-color: #000000;
  min-width: 15vw;
  padding: 2rem;
  height: 100vh;
}

.nav-option {
  list-style: none;
  font-size: 1.2rem;
}

.nav-option li {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.nav-option li:hover {
  color: white;
}

.nav-option p {
  padding: 0 1rem;
}
.side-icons {
  height: 1.5rem;
  border-radius: 2px;
}

.nav-option a {
  color: grey;
  text-decoration: none;
}

.nav-option a:hover {
  color: white;
}
